:root {
  --main-color: #212121;
  --primary-color: #757575;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-2: #000000;
  --main-bgd-color: #ffffff;
  --secondary-bgd-color: #f5f4fa;
  --footer-bgd-color: #2f303a;
  --btn-hover-color: #188ce8;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
}

body {
  background-color: var(--main-bgd-color);
  color: var(--main-color);

  font-family: var(--main-font);
  font-size: 14px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

/* Шапка */

.page-header {
}

.navigation {
  display: flex;
}

.site-nav {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);

  font-family: var(--accent-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--accent-color-2);
}

.nav-list,
.contact-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list {
  margin-left: 93px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-color);
}

.contact-list {
  margin-left: auto;
}

.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-list .nav-link.current {
  color: var(--accent-color);
}

/* ---- */
.navigation .item + .item {
  margin-left: 50px;
}

/* Герой */

.hero {
  background-color: var(--footer-bgd-color); /* Тимчасовий фон */

  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--secondary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button {
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--main-bgd-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.button:hover {
  background-color: var(--btn-hover-color);
}

/* Особливості */

.none-title {
  display: none;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features-text {
  margin: 0;
  padding: 0;

  color: var(--primary-color);

  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чим ми займаємося */

.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;
}

/* Наша команда */

.team {
  background-color: var(--secondary-bgd-color);
}

.team-list {
  line-height: 1.19;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.team-text {
  color: var(--primary-color);

  font-size: 16px;
  letter-spacing: 0.03em;
}

/* Футер */

.footer {
  background-color: var(--footer-bgd-color);
}

.logo > .studio-footer {
  color: var(--secondary-color);
}

.address-list {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link {
  color: var(--secondary-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.contact {
  color: rgba(255, 255, 255, 0.6);
}

/* -------------Портфоліо------------- */

/* Фільтр */

.filter-btn {
  border-radius: 4px;
  border-color: transparent;

  background-color: var(--secondary-bgd-color);
  color: var(--main-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проєкти */

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--primary-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
